<div class="side-bar-header">
  <%= link_to current_user.name, edit_user_path(current_user), class: "user-name" %>
  <%= link_to "チャットを作成する", new_room_path, class: "create-room-btn" %>
</div>
<div class="side-bar-main">
  <% rooms.each do |room| %>
    <%= link_to room.name, room_messages_path(room.id), class: "open-room-btn" %>
  <% end %>
</div>